.media_picker {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.media_picker button {
  border: 2px solid #121212;
  font-size: 24px;
  padding: 8px 16px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.4s ease-in-out;
}

.media_picker button:hover {
  transition: 0.4s ease-in-out;
}

.media_picker .inactive {
  background-color: #121212;
}

.media_picker .inactive:hover {
  filter: drop-shadow(0 0 8px #575757);
}

.media_picker .active {
  background-color: #7a5af5;
  border: 2px solid #ba9ffb;
}

.media_picker .active:hover {
  filter: drop-shadow(0 0 8px #9171f8);
}
